header{
  width:100%;
  height: 64px;
  margin: -90px 0;
  position: fixed;
  background-color: #fff;
}
.sectionClass{
  margin: 4px 1%;
  height: 56px;
  width:98%;
}
.partOne{
  width: 65%;
  float:left;
}
.partTwo{
  width: 35%;
  float:right;
}
.partTwo ul{
  float:right;
  vertical-align: middle;
  line-height: 40px;
}
.partTwo ul li{
  float: left;
  padding:8px 12px;
}
.partTwo ul li a {
  line-height: 24px;
  color: #8e8e8e;
  font-weight: 600; 
}
.partTwo ul li a i{
  font-size: 24px; 
}
.partTwo ul li a img{
  vertical-align: middle;
  line-height: 40px;
  padding-right: 8px;
}
.logo{
  width:48px;
  height: 48px;
  margin:4px 0;
  position: relative;
  float:left;
}
.imgProfile{
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  max-width: 24px;
  width:100%;
}
.sub{
  margin:4px;
  width:40px;
  height:40px;
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
}
.sub i{
  color: #e60023;
  font-size:28px; 
  margin: auto; 
  display:block;
  text-align:center;
  line-height: 40px;
}
.blackA{
color: #333 !important;
}
.grayA, .blackA{
color: #8e8e8e;
text-decoration:none;
}
.inputSearch{
  width:90%;
  float:right;
}
input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 8px 0;
  height: 40px;
  outline: none;
  padding: 8px;
  background-color:#efefef;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 4px 0 dodgerBlue;
}
input::placeholder {
 padding-left:30px;
 font-weight: 700;
 color: #aaa;
 font-size: 16px;

}
.inputWithIcon input[type="text"] {
}
.inputWithIcon {
}
.inputWithIcon i {
  position: absolute;
  left: 100px;
  margin-top: 18px;
  color: #aaa;
  transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}
.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}
.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
.container{
  width: 100%;
  height: 500px;
}
.col-5{
  width: 18%;
height: 500px;
margin: 0 1%;
float:left;
}